.topDiv
{
    background-color: black;   
}

.midDiv
{
    background-color: purple;
}

.bottomDiv
{
    background-color: skyblue;
}

h1
{
    color: white;
}

h1>span
{
    color: cyan;
}

h2
{
    text-align: center;
    color: white;
}

h3
{
    text-align: right;
    text-decoration: underline;
    color: darkslateblue;
}